.container {
    text-align: center;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    background-color: blanchedalmond;
    height: 500pt; 
}


body {
    background-image: url('https://images.wallpaperscraft.com/image/minimalism_geometric_landscape_124072_1920x1080.jpg')
}


